/* mat-sidenav {

  height: 100%;
} */

mat-sidenav-container {

  height: 100%;
}

.purples {
  background-color: hsl(273, 76%, 36%)
}

#btn {
  /* padding-right: 0px;
  margin-right: 0px;
  align-content: 8px; */
  float: right
}
