<p>
  <mat-toolbar class='purples' color="warn">
    <mat-icon>close</mat-icon>Conte et legendes du Quebec
  </mat-toolbar>
</p>
<!-- <mat-card> Hello Material Design World</mat-card> -->

<p>
  <button mat-flat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <!-- <mat-icon fontSet="fontIcons" fontIcon="fontIcon">Menu</mat-icon> -->
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Copier</span>
    </button>
    <button mat-menu-item>
      <span>Doupluier</span>
    </button>

  </mat-menu>
  <mat-sidenav></mat-sidenav>
</p>

<!--fenge-->
<p>
  <mat-toolbar class='purples' color="warn">
    <mat-icon>close</mat-icon>Chez Leve-Tot
  </mat-toolbar>
</p>


<mat-sidenav-container class="example-container" color='primay'>

  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <p><strong>Mon painer</strong></p>
    <p>Sous total:<strong>9,00$</strong></p>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>local_cafe</mat-icon>Cafe
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>local_drink</mat-icon>Jus d'orange
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>breakfast_dining</mat-icon>Tartine au chocolat
      </mat-list-item>
    </mat-list>
    <p id='btn'>
      <button mat-flat-button class='purples'>Payer</button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>

    <p><button mat-raised-button (click)="sidenav.toggle()">panier</button></p>

  </mat-sidenav-content>

</mat-sidenav-container>



<!-- <button mat-icon-button color="warn" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
</button>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section> -->

